/*General Styles*/
body {
    background-color: rgb(64, 64, 68);
}

p {
    color: azure;
    margin-left: 25px;
    margin-right: 50px;
    margin-top: 5px;
    font-family:'Courier New', Courier, monospace;
}

a {
    color:chartreuse
}
/*Title Styles*/
.title h1{
  color: azure;
  margin-left: 25px;
  font-family:'Courier New', Courier, monospace;
  text-decoration-line: underline;
}
.title ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: .5fr 1.5fr .5fr 1.5fr;
  column-gap: 0px;
}
.title li {
  display: inline;
}
.title h2{
  color: azure;
  margin-left: 25px;
  font-family:'Courier New', Courier, monospace;
}



/* Use media queries to adjust the layout for different screen sizes */


/*About me Styles*/
.aboutMe h2 {
  color: azure;
  font-family:'Courier New', Courier, monospace;
  text-decoration-line: underline;
}

.aboutme-Container {
  display: grid;
  align-items: center;
  grid-template-rows: .3fr .5fr;
  column-gap: 5px;
}

.VelmaImageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.VelmaImageGallery h2 {
text-decoration-line: underline;
}
 
.VelmaImageGallery img {
  width: 80%; 
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
 
 /* Use media queries to adjust the layout for different screen sizes */
@media (max-width: 768px) {
.VelmaImageGallery img {
  width: 40%;
}
}

@media (max-width: 480px) {
  .VelmaImageGallery img {
    width: 60%;
  }
}
/*NPC Styles*/
.NPC h2 {
  color: azure;
  font-family:'Courier New', Courier, monospace;
  text-decoration-line: underline;
}

.NPCImageGallery {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.NPCImageGallery h2 {
text-decoration-line: underline;
}

.NPCImageGallery img {
width: 80%; 
margin: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .NPCImageGallery img {
    width: 40%;
  }
  }
  
@media (min-width: 480px) {
  .NPCImageGallery img {
    width: 60%;
  }
}

/*Conway GOL Styles*/
.ConwayGOL h2 {
  color: azure;
  font-family:'Courier New', Courier, monospace;
  text-decoration-line: underline;
}

.gol-container {
  display: grid;
  align-items: center;
  grid-template-rows: .2fr .2fr;
  row-gap: 5px;
}

.GOLImageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.GOLImageGallery img {
  width: 40%; /* adjust the width based on your needs */
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
 
 /* Use media queries to adjust the layout for different screen sizes */
@media (max-width: 768px) {
.GOLImageGallery img {
  width: 40%;
}
}

@media (max-width: 480px) {
.GOLImageGallery img {
  width: 60%;
}
}


/*Linear Algebra Calc Styles*/
.LinearAlgebraCalcPy h2 {
  color: azure;
  margin-left: 25px;
  font-family:'Courier New', Courier, monospace;
  text-decoration-line: underline;
}

.LinearAlgebraCalcImgGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.LinearAlgebraCalcImgGallery img {
    width: 50%; /* adjust the width based on your needs */
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
   
   /* Use media queries to adjust the layout for different screen sizes */
@media (max-width: 768px) {
  .LinearAlgebraCalcImgGallery img {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .LinearAlgebraCalcImgGallery img {
    width: 60%;
  }
}





