body {
    background-color: rgb(64, 64, 68);
}

h1{
    color: azure;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
    text-decoration-line: underline;
}
p {
    color: azure;
    margin-left: 25px;
    margin-right: 50px;
    margin-top: 5px;
    font-family:'Courier New', Courier, monospace;
}

a {
    color:chartreuse
}

.VelmaImageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
   
.VelmaImageGallery img {
    float: right;
    width: 30%; /* adjust the width based on your needs */
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
   
   /* Use media queries to adjust the layout for different screen sizes */
@media (max-width: 768px) {
  .VelmaImageGallery img {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .VelmaImageGallery img {
    width: 60%;
  }
}

.NPCImageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.NPCImageGallery img {
    width: 40%; 
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  /* Use media queries to adjust the layout for different screen sizes */
@media (max-width: 768px) {
  .NPCImageGallery img {
    width: 40%;
  }
}

@media (max-width: 480px) {
 .NPCImageGallery img {
   width: 60%;
 }
 }

.GOLImageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
   
.GOLImageGallery img {
    width: 40%; /* adjust the width based on your needs */
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
   
   /* Use media queries to adjust the layout for different screen sizes */
@media (max-width: 768px) {
  .GOLImageGallery img {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .GOLImageGallery img {
    width: 60%;
  }
}

.LinearAlgebraCalcImgGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.LinearAlgebraCalcImgGallery img {
    width: 50%; /* adjust the width based on your needs */
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
   
   /* Use media queries to adjust the layout for different screen sizes */
@media (max-width: 768px) {
  .LinearAlgebraCalcImgGallery img {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .LinearAlgebraCalcImgGallery img {
    width: 60%;
  }
}