name: Deploy
on:
  push:
    branches: [main]
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v6.1.0
      - name: Build Site
        run: |
          npm install
          npm run build
      - name: Upload GitHub Pages Artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: './dist'
      - name: Deploy pages
        uses: actions/deploy-pages@v4.0.5
